<div *ngIf="posts$ | async as posts">
    <div class="p-8 flex flex-col">
        <h1 class="text-3xl text-center font-bold mb-10">Blog Posts</h1>
        <form *ngIf="!(currentUser$ | async) as currentUser" (submit)="setUsername()" class="self-center">
            <input name="username" [(ngModel)]="username" class="border rounded-md p-2 mb-2 outline-none" placeholder="Pick a username..." type="text">
            <input class="border py-2 px-4 rounded-md bg-gray-100 ml-2" type="submit" value="Set">
        </form>
        <p *ngIf="currentUser$ | async as currentUser" class="text-center">Current user: {{currentUser}}
            <span class="font-bold hover:underline cursor-pointer" (click)="clearUser()">X</span>
        </p>
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
</div>